{% extends 'base.html.twig' %}

{% block title %}SF5 -ARTICLES AJOUTER-{% endblock %}

{% block body %}
    <h1 class="text-danger">Ajouter un article</h1>
    {{ form_start(form_article) }}
        <div class="form-group">
            {{ form(form_article) }}
        </div>
    {{ form_end(form_article) }}

{% endblock %}