<div class="d-flex flex-row justify-content-center m-5">
    {%  for message in app.session.flashBag.get('message') %}
        <span class="alert alert-{{ app.session.get('statut') }}">
            {{ message }}
        </span>
    {% endfor %}
</div>